<form [formGroup]="loginForm" *ngIf="loginForm">
  <!-- Section: Design Block -->
  <section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 justify-content-md-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-header text-center">
                <h2>Kullanıcı Giriş</h2>
              </div>
              <div class="card-body py-5 px-md-5">
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Kullanıcı Adı</label>
                  <input type="text" id="form3Example3" formControlName="username" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Şifre</label>
                  <input type="password" id="form3Example4" formControlName="password" class="form-control" />
                </div>

                <!-- Submit button -->
                <div class="float-end">
                  <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/register">
                    Kayıt Ol
                  </button>

                  <button type="submit" class="btn btn-primary btn-block mb-4 ms-2" (click)="login()">
                    Giriş Yap
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</form>
